html,
body {
  margin: 0;
  padding: 0;
}

body {
  // @include flama-basic;
  @include ssn1--bold;
  background-color: $white;
  color: $grey;
}

a {
  color: rgba($black, .7);

  &:focus,
  &:hover {
    color: rgba($black, .6);
  }
}
