html,
body {
  margin: 0;
  padding: 0;
}

body {
  @include ssn1--book;
  background-color: $white;
  color: $grey;
}

a {
  color: rgba($black, .7);

  &:focus,
  &:hover {
    color: rgba($black, .6);
  }
}

button {
  @include ssn1--medium;
  background: $grey-dark;
  border: 0;
  color: $white;
  font-size: 1.25rem;
  padding: .75rem 2.5rem;
}

input {
  border: 1px $grey-medium solid;
  border-radius: 4px;
  padding: 1rem;

  &::-webkit-input-placeholder { // Chrome/Opera/Safari
    color: $grey-medium;
  }

  &::-moz-placeholder { // Firefox 19+
    color: $grey-medium;
  }

  &:-ms-input-placeholder { // IE 10+
    color: $grey-medium;
  }

  &:-moz-placeholder { // Firefox 18-
    color: $grey-medium;
  }
}

.text-muted {
  color: $text-muted!important;
}
