<article>
  <% data.pages.page.each do |id, page| %>
    <% if page['title'] === page_title %>
      <% if page['sections'] %>
        <% page['sections'].each do |section| %>
          <% if section['_meta']['content_type_id'] === 'carousel' %>
            <%= partial('partials/carousel', :locals => { :data => section }) %>
          <% end %>
        <% end %>

        <div class="container">
          <% page['sections'].each do |section| %>
              <% if section['_meta']['content_type_id'] === 'featurettes' %>
                <%= partial('partials/featurettes', :locals => { :data => section }) %>
              <% end %>

              <% if section['_meta']['content_type_id'] === 'quote' %>
                <%= partial('partials/quote', :locals => { :data => section }) %>
              <% end %>

              <% if section['_meta']['content_type_id'] === 'titleCopy' %>
                <%= partial('partials/title-copy', :locals => { :data => section }) %>
              <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</article>
