<!-- Modal : Nav : Connect w/Advisor-->
<div class="modal fade" id="modal--foo" tabindex="-1" role="dialog" aria-labelledby="modal--foo-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="connectWithAdvisorTitle">
          Lorem ipsum dolor
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Integer rutrum libero nec dictum pellentesque. Pellentesque vel porta sapien. Suspendisse accumsan pretium massa, eget varius ex gravida eget.
        </p>
        <form name="modal-form--foo">
          <div class="form-group">
            <label for="foo--name">
              <small class="text-muted">Name</small> <span class="text-red">*</span>
            </label>
            <input name="name" type="text" class="form-control" id="foo--name" placeholder="First and Last Name" required autofocus>
          </div>
          <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
        </form>
      </div>
      <div class="modal-footer">
        <small class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit <a class="ga-click-event" ga-label="foo" ga-category="modal" href="/foo">Foo</a> and <a class="ga-click-event" ga-label="bar" ga-category="modal" href="/bar">Bar</a>.
        </small>
      </div>
    </div>
  </div>
</div>

<!-- Modal : WEBDEV : Connect w/Advisor-->
<div class="modal fade" id="connectWithAdvisor--webdev" tabindex="-1" role="dialog" aria-labelledby="connectWithAdvisorTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form name="connectWithAdvisor--webdev">
        <div class="modal-header">
          <h5 class="modal-title" id="connectWithAdvisorTitle">Let's Connect <span class="text-muted">&nbsp;x&nbsp;</span> Web Development</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Our Admissions team is here to help you acheive your goals.<br>
            Let us know the best way to contact you.
          </p>
          <div class="form-group">
            <label for="connect-with-advisor--name">
              <small class="text-muted">Name</small> <span class="text-red">*</span>
            </label>
            <input name="name" type="text" class="form-control" id="connect-with-advisor--name" placeholder="First and Last Name" required autofocus>
          </div>
          <div class="form-group">
            <label for="connect-with-advisor--email">
              <small class="text-muted">Email address</small> <span class="text-red">*</span>
            </label>
            <input name="email" type="email" class="form-control" id="connect-with-advisor--email" placeholder="name@example.com" required>
          </div>
          <div class="form-group">
            <label for="connect-with-advisor--phone">
              <small class="text-muted">Phone</small>
            </label>
            <input name="phone" type="tel" class="form-control" id="connect-with-advisor--phone" placeholder="412 555 1212">
          </div>
          <input name="course" type="hidden" value="webdev" />
          <input name="contacted" type="hidden" value="NO" />
          <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
        </div>
        <div class="modal-footer">
          <small class="text-muted">
          By providing us with your email, you agree to the terms of our <a class="ga-click-event" ga-label="privacy" ga-category="modal" href="tos.html#privacy">Privacy Policy</a> and <a class="ga-click-event" ga-label="tos" ga-category="modal" href="tos.html">Terms of Service</a>.
        </small>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal : iOS : Connect w/Advisor-->
<div class="modal fade" id="connectWithAdvisor--ios" tabindex="-1" role="dialog" aria-labelledby="connectWithAdvisorTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form name="connectWithAdvisor--ios">
        <div class="modal-header">
          <h5 class="modal-title" id="connectWithAdvisorTitle">Let's Connect  <span class="text-muted">&nbsp;x&nbsp;</span> iOS Development</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Our Admissions team is here to help you acheive your goals.<br>
            Let us know the best way to contact you.
          </p>
          <div class="form-group">
            <label for="connect-with-advisor--name">
              <small class="text-muted">Name</small> <span class="text-red">*</span>
            </label>
            <input name="name" type="text" class="form-control" id="connect-with-advisor--name" placeholder="First and Last Name" required autofocus>
          </div>
          <div class="form-group">
            <label for="connect-with-advisor--email">
              <small class="text-muted">Email address</small> <span class="text-red">*</span>
            </label>
            <input name="email" type="email" class="form-control" id="connect-with-advisor--email" placeholder="name@example.com" required>
          </div>
          <div class="form-group">
            <label for="connect-with-advisor--phone">
              <small class="text-muted">Phone</small>
            </label>
            <input name="phone" type="tel" class="form-control" id="connect-with-advisor--phone" placeholder="412 555 1212">
          </div>
          <input name="course" type="hidden" value="iOS" />
          <input name="contacted" type="hidden" value="NO" />
          <input type="submit" value="Submit" class="btn btn-primary btn-lg" />
        </div>
        <div class="modal-footer">
          <small class="text-muted">
          By providing us with your email, you agree to the terms of our <a class="ga-click-event" ga-label="privacy" ga-category="modal" href="tos.html#privacy">Privacy Policy</a> and <a class="ga-click-event" ga-label="tos" ga-category="modal" href="tos.html">Terms of Service</a>.
        </small>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal : WEBDEV : Request Syllabus-->
<div class="modal fade" id="requestSyllabus--webdev" tabindex="-1" role="dialog" aria-labelledby="requestSyllabusTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form name="requestSyllabus--webdev">
        <div class="modal-header">
          <h5 class="modal-title" id="requestSyllabusTitle">Explore the Curriculum</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Where should we send the Web Development syllabus?
          </p>
          <div class="form-group">
            <label for="requestSyllabus--email">
              <small class="text-muted">Email address</small> <span class="text-red">*</span>
            </label>
            <input name="email" type="email" class="form-control" id="requestSyllabus--email" placeholder="name@example.com" required>
          </div>
          <input name="course" type="hidden" value="webdev" />
          <input name="contacted" type="hidden" value="NO" />
          <input type="submit" value="Request Syllabus" class="btn btn-primary btn-md" />
        </div>
        <div class="modal-footer">
          <small class="text-muted">
          By providing us with your email, you agree to the terms of our <a class="ga-click-event" ga-label="privacy" ga-category="modal" href="tos.html#privacy">Privacy Policy</a> and <a class="ga-click-event" ga-label="tos" ga-category="modal" href="tos.html">Terms of Service</a>.
        </small>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal : iOS : Request Syllabus-->
<div class="modal fade" id="requestSyllabus--ios" tabindex="-1" role="dialog" aria-labelledby="requestSyllabusTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form name="requestSyllabus--ios">
        <div class="modal-header">
          <h5 class="modal-title" id="requestSyllabusTitle">Explore the Curriculum</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Where should we send the Mobile Development syllabus?
          </p>
          <div class="form-group">
            <label for="requestSyllabus--email">
              <small class="text-muted">Email address</small> <span class="text-red">*</span>
            </label>
            <input name="email" type="email" class="form-control" id="requestSyllabus--email" placeholder="name@example.com" required>
          </div>
          <input name="course" type="hidden" value="iOS" />
          <input name="contacted" type="hidden" value="NO" />
          <input type="submit" value="Request Syllabus" class="btn btn-primary btn-md" />
        </div>
        <div class="modal-footer">
          <small class="text-muted">
          By providing us with your email, you agree to the terms of our <a class="ga-click-event" ga-label="privacy" ga-category="modal" href="tos.html#privacy">Privacy Policy</a> and <a class="ga-click-event" ga-label="tos" ga-category="modal" href="tos.html">Terms of Service</a>.
        </small>
        </div>
      </form>
    </div>
  </div>
</div>
