@font-face {
  font-family: 'Flama Basic';
  src: url('../fonts/Flama-Basic.eot');
  src: url('../fonts/Flama-Basic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Flama-Basic.woff2') format('woff2'),
    url('../fonts/Flama-Basic.woff') format('woff'),
    url('../fonts/Flama-Basic.ttf') format('truetype'),
    url('../fonts/Flama-Basic.svg#Flama-Basic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flama Book';
  src: url('../fonts/flama-book.eot');
  src: url('../fonts/flama-book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/flama-book.woff2') format('woff2'),
    url('../fonts/flama-book.woff') format('woff'),
    url('../fonts/flama-book.ttf') format('truetype'),
    url('../fonts/flama-book.svg#Flama-Basic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin flama-basic {
  font-family: 'Flama Basic', sans-serif;
}

@mixin flama-book {
  font-family: 'Flama Book', sans-serif;
}
