// BLACK //////////////////////////////////////////////////////////////

@font-face {
  font-family: 'SharpSansNo1 Black';
  src: url('/fonts/SharpSansNo1-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharpSansNo1 Black Italic';
  src: url('/fonts/SharpSansNo1-BlackItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@mixin ssn1--black {
  font-family: 'SharpSansNo1 Black', sans-serif;
}

@mixin ssn1--black-italic {
  font-family: 'SharpSansNo1 Black Italic', sans-serif;
}

// BOLD //////////////////////////////////////////////////////////////

@font-face {
  font-family: 'SharpSansNo1 Bold';
  src: url('/fonts/SharpSansNo1-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharpSansNo1 Bold Italic';
  src: url('/fonts/SharpSansNo1-BoldItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@mixin ssn1--bold {
  font-family: 'SharpSansNo1 Bold', sans-serif;
}

@mixin ssn1--bold-italic {
  font-family: 'SharpSansNo1 Bold Italic', sans-serif;
}

// BOOK //////////////////////////////////////////////////////////////

@font-face {
  font-family: 'SharpSansNo1 Book';
  src: url('/fonts/SharpSansNo1-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharpSansNo1 Book Italic';
  src: url('/fonts/SharpSansNo1-BookItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@mixin ssn1--book {
  font-family: 'SharpSansNo1 Book', sans-serif;
}

@mixin ssn1--book-italic {
  font-family: 'SharpSansNo1 Book Italic', sans-serif;
}

// EXTRABOLD //////////////////////////////////////////////////////////////

@font-face {
  font-family: 'SharpSansNo1 Extrabold';
  src: url('/fonts/SharpSansNo1-Extrabold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharpSansNo1 Extrabold Italic';
  src: url('/fonts/SharpSansNo1-ExtraboldItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@mixin ssn1--extrabold {
  font-family: 'SharpSansNo1 Extrabold', sans-serif;
}

@mixin ssn1--extrabold-italic {
  font-family: 'SharpSansNo1 Extrabold Italic', sans-serif;
}

// HAIRLINE //////////////////////////////////////////////////////////////

@font-face {
  font-family: 'SharpSansNo1 Hairline';
  src: url('/fonts/SharpSansNo1-Hairline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharpSansNo1 Hairline Italic';
  src: url('/fonts/SharpSansNo1-HairlineItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@mixin ssn1--hairline {
  font-family: 'SharpSansNo1 Hairline', sans-serif;
}

@mixin ssn1--hairline-italic {
  font-family: 'SharpSansNo1 Hairline Italic', sans-serif;
}

// LIGHT //////////////////////////////////////////////////////////////

@font-face {
  font-family: 'SharpSansNo1 Light';
  src: url('/fonts/SharpSansNo1-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharpSansNo1 Light Italic';
  src: url('/fonts/SharpSansNo1-LightItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@mixin ssn1--light {
  font-family: 'SharpSansNo1 Light', sans-serif;
}

@mixin ssn1--light-italic {
  font-family: 'SharpSansNo1 Light Italic', sans-serif;
}

// MEDIUM //////////////////////////////////////////////////////////////

@font-face {
  font-family: 'SharpSansNo1 Medium';
  src: url('/fonts/SharpSansNo1-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharpSansNo1 Medium Italic';
  src: url('/fonts/SharpSansNo1-MediumItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@mixin ssn1--medium {
  font-family: 'SharpSansNo1 Medium', sans-serif;
}

@mixin ssn1--medium-italic {
  font-family: 'SharpSansNo1 Medium Italic', sans-serif;
}

// SEMIBOLD //////////////////////////////////////////////////////////////

@font-face {
  font-family: 'SharpSansNo1 Semibold';
  src: url('/fonts/SharpSansNo1-Semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharpSansNo1 Semibold Italic';
  src: url('/fonts/SharpSansNo1-SemiboldItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@mixin ssn1--semibold {
  font-family: 'SharpSansNo1 Semibold', sans-serif;
}

@mixin ssn1--semibold-italic {
  font-family: 'SharpSansNo1 Semibold Italic', sans-serif;
}

// THIN //////////////////////////////////////////////////////////////

@font-face {
  font-family: 'SharpSansNo1 Thin';
  src: url('/fonts/SharpSansNo1-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharpSansNo1 Thin Italic';
  src: url('/fonts/SharpSansNo1-ThinItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@mixin ssn1--thin {
  font-family: 'SharpSansNo1 Thin', sans-serif;
}

@mixin ssn1--thin-italic {
  font-family: 'SharpSansNo1 Thin Italic', sans-serif;
}

// ULTRATHIN //////////////////////////////////////////////////////////////

@font-face {
  font-family: 'SharpSansNo1 Ultrathin';
  src: url('/fonts/SharpSansNo1-Ultrathin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharpSansNo1 Ultrathin Italic';
  src: url('/fonts/SharpSansNo1-UltrathinItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@mixin ssn1--thin {
  font-family: 'SharpSansNo1 Ultrathin', sans-serif;
}

@mixin ssn1--thin-italic {
  font-family: 'SharpSansNo1 Ultrathin Italic', sans-serif;
}
