.buttons-container {
  // background: url('../images/index/buttons-purp.jpg') 0 0 no-repeat $white;
  // background-size: contain;
  margin-bottom: 9%;
  margin-top: 6rem;

  // @include media-breakpoint-up(sm) {
  //   background: none;
  // }

  .row {
    margin: 0 auto;
  }

  .section--title-subtitle {
    // margin-top: 40%;
    img {
      max-width: 250px;
    }
  }
}

.buttons-animation-container {
  margin: 0 auto;
  position: relative;
  display:flex;
  overflow:hidden;
  filter: saturate(0);

  @include media-breakpoint-down(md) {
    height: 50%;
  }

}
