.buttons-container {
  background: url('../images/index/buttons-purp.jpg') 0 0 no-repeat $white;
  background-size: contain;
  margin-bottom: 20%;
  margin-top: 6rem;
  min-height: 937px;

  .row {
    margin: 0 auto;
  }

  .section--title-subtitle {
    // margin-top: 40%;
  }
}

.buttons-animation-container {
  bottom: -20%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 60%;

  img {
    height: 100%;
    width: 100%;
  }
}
