.buttons-things2say-container {
  display: flex;
  margin-top: 12rem;

  .row {
    margin: 0;
  }

  .section--title-subtitle {
    bottom: 7%;
    left: 50%;
    position: absolute;
    text-align: left;
  }
}
