.section--title-subtitle {
  margin: 7% auto 14%;
  text-align: center;

  h3 {
    @include ssn1--semibold;
    font-size: 3rem;
    line-height: 3rem;
  }

  p {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
  }
}


.visible-desktop {
  display: block;
}

.visible-mobile {
  display: none;
}

@include media-breakpoint-down(sm) {
  .visible-mobile {
    display: block;
  }
}

@include media-breakpoint-down(sm) {
  .visible-desktop {
    display: none;
  }
}
