.section--title-subtitle {
  margin: 7% auto 14%;
  text-align: center;

  h3 {
    @include ssn1--semibold;
    font-size: 3rem;
    line-height: 3rem;
  }

  p {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
  }
}
