.section--title-subtitle {
  margin: 10% auto;
  text-align: center;

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@import 'omega-box';
@import 'omega-help';
@import 'omega-hey';
@import 'omega-usps';
@import 'omega-box-2';
@import 'omega-app-songs';
