.omega-help-container {
  background: url('../images/index/omega-help-bkg.jpg') 0 0 no-repeat $white;
  background-size: contain;
  margin-top: 12rem;

  .row {
    margin: 0 auto;
  }
}

.omega-help-wrapper {
  text-align: center;
}

.help-animation-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 20% auto 5%;
  padding: 10px;
  width: 90%;

  img {
    width: 100%;
  }

  & > div {
    flex: auto;
    padding: 10px;
    text-align: center;
    width: 31%;
  }

}

.video-wrapper{
  height: 540px;
  width: 418px;

  video {
    height: 540px;
    width: 418px;

    // mobile
    // display: none;
  }

  .video-sprite-sheet{
    display: inline-block;
    line-height: 0;
    overflow: hidden;
    position: relative;

    & > canvas {
      border: 0;
      display: inline-block;
      position: absolute;
      visibility: hidden;
    }
  }

  // canvas {}
}
