.omega-email-drip-container {
  background: $grey-light;
  display: flex;
  margin-top: 12rem;

  .row {
    margin: 0 auto;
  }
}

.omega-email-drip-wrapper {
  .text {
    bottom: -30%;
    right: 40%;
    z-index: 1;
  }

  input {
    margin: 1rem 0;
    min-width: 40%;
    padding: 10px;
  }

  button {
    background: $grey-dark;
    border: 0;
    color: $white;
    font-weight: bold;
    padding: 1rem 3rem;
  }

  h2 {
    font-size: 3rem;
  }
}
