.omega-usps-container {
  .row {
    margin: 0 auto;
  }

  img {
    width: 100%;
  }
}


.omega-usps-wrapper {
  display: flex;
  margin-top: 2rem;

  .text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 2rem;
  }

  &:nth-child(odd) {
    flex-flow: row-reverse;
  }
}
