.omega-app-songs-container {
  background: url('../images/index/omega-app-background-adele-hello.jpg') 0 0 no-repeat $white;
  background-size: contain;
  margin-top: 6rem;

  .row {
    margin: 0 auto;
  }
}

.app-songs-animation-container {
  margin: 40% auto 0;
  position: relative;
  text-align: center;

  img {
    width: 50%;
  }
}
