.omega-email-drip-container {
  background: $grey-light;
  display: flex;
  margin-top: 12rem;

  .row {
    margin: 0 auto;
  }
}

.omega-email-drip-wrapper {
  .text {
    bottom: -30%;
    right: 40%;
    z-index: 1;
  }

  input {
    font-size: 1.25rem;
    margin: 2rem 0 1.5rem;
    min-width: 40%;
  }
}
