.omega-usps-container {
  .row {
    margin: 0 auto;
  }
}

.omega-usps-wrapper {
  display: flex;
  margin-top: 2rem;

  @include media-breakpoint-down(sm) {
    display: block;
  }


  > .text {
    @include ssn1--semibold;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 2rem;
  }

  > .img {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &:nth-child(even) {
    flex-flow: row-reverse;
  }
}
