.omega-box-container {
  display: flex;
  height: 1600px;
  // margin-top: 12rem;
  width: 100%;
  z-index: 1;

  @include media-breakpoint-down(sm) {
    height: auto;
    margin-top: 2rem;
  }

  .row {
    margin: 0 auto;
  }

  .container {
    height: 540px;
    position: sticky;
    top: 15%;
  }
}

.omega-box-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;

  .text {
    display: flex;
    flex-flow: column;
    height: 370px;
    justify-content: center;
    margin-left: 2rem;

    .text-muted {
       & > div {
        display: inline-block;
       }

      .last-item {
        display: none;
      }
    }
  }
}

.box-copy {
  margin: auto;
  // padding-top: 33%;
  text-align: center;
  width: 60%;
  z-index: 2;


  @include media-breakpoint-down(sm) {
    padding-top: 13%;
    width: 80%;
  }
}
