.omega-email-drip-container {
  background: $grey-light;
  display: flex;
  margin-top: 12rem;

  .row {
    margin: 0 auto;
  }
}

.omega-email-drip-wrapper {
  .text {
    bottom: -30%;
    right: 40%;
    z-index: 1;
  }
}
