.omega-hey--wrapper {
  background-image: radial-gradient(#27253c, #1d1a21); // center, outside color
  color: $white;
  min-height: 700px;

  .row {
    margin: 0 auto;
    padding-bottom: 3rem;
    padding-top: 3rem;

    &:first {
      @include media-breakpoint-down(md) {
        padding-bottom: 0;
      }
    }

    &:last-child {
      @include media-breakpoint-down(md) {
        padding-top: 0;
      }
    }
  }

  .column  {
    @include media-breakpoint-down(md) {
      text-align: center;
    }
  }

  img {
    width: 100%;
  }

  .one {
    @include media-breakpoint-down(md) {
      order: 2;
    }
  }

  .two {
    padding-bottom: 3rem;
    padding-top: 3rem;

    @include media-breakpoint-down(md) {
      order: 1;
      padding-top: 0;
    }
  }

  .three {
    padding-bottom: 3rem;

    @include media-breakpoint-down(md) {
      order: 3;
      padding-top: 6rem;
    }
  }
}

.omega-hey-wrapper {
  display: flex;
  margin-top: 2rem;

  .text {
    display: flex;
    flex-flow: column;
    height: 370px;
    justify-content: center;
    margin-left: 2rem;
  }
}

.opacity-0 {
  opacity: 0;
}
