.omega-hey-container {
  background-image: radial-gradient(#27253c, #1d1a21); // center, outside color
  color: $white;
  min-height: 700px;

  .row {
    margin: 0 auto;
  }

  img {
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    .one {
      order: 2;
    }

    .two {
      order: 1;
    }

    .three {
      order: 3;
    }
  }
}

.omega-hey-wrapper {
  display: flex;
  margin-top: 2rem;

  .text {
    display: flex;
    flex-flow: column;
    height: 370px;
    justify-content: center;
    margin-left: 2rem;
  }
}


.hey-text {
  padding: 1rem;
}
