.omega-help-container {
  background: url('../images/index/omega-help-bkg.jpg') 0 0 no-repeat $white;
  background-size: contain;
  height: 100vw;
  margin-top: 12rem;

  .row {
    margin: 0 auto;
  }
}

.omega-help-wrapper {
  text-align:center;
}
.animation-container {
  padding:10px;
  display:flex;
  width: 80%;
  margin:30% auto 0;
  align-items: flex-start;

  img {
    width: 100%;
  }

  & > div {
    flex:1;
    text-align: center;
    width: 31%;
    padding:10px;
  }

}

.video-wrapper{
  width: 40%;
  overflow: hidden;
  max-height:600px;

  video {
    height: 700px;
    transform: translateX(-340px);
  }
}

