<div class="buttons-things2say-container">

  <div class="row py-5 omega-usps-wrapper buttons-things2say-wrapper">
    <div class="col-2 text">
      <h3>
        Things to say
      </h3>
      <p class="pt-2">
        I will keep you
        <br />
        up-to-date with
        <br />
        the headlines.
      </p>
    </div>
    <div class="col-10">
      <img src="/images/index/buttons-phone-kanye.png" style="width: 100%"/>
    </div>
  </div>

</div>
