<div class="buttons-things2say-container">
  <div class="row py-5 omega-usps-wrapper buttons-things2say-wrapper">
    <div class="col">
      <img src="/images/index/buttons-phone-kanye.png" style="width: 100%"/>
      <div class="section--title-subtitle">
        <h3>
          Millions of songs
        </h3>
        <p class="text-muted">
          I have the latest, currated
          <br>
          just for you.
        </p>
      </div>
    </div>
  </div>
</div>
