<div class="buttons-things2say-container">
  <div class="row py-5 omega-usps-wrapper buttons-things2say-wrapper">
    <div class="col col-sm-12 col-md-10 col-lg-8">
      <img src="/images/index/buttons-phone-kanye-full.png"/>
      <div class="section--title-subtitle">
        <h3>
          Things to say
        </h3>
        <p class="text-muted">
          I will keep you
          <br>
          up-to-date with
          <br>
          the headlines.
        </p>
      </div>
    </div>
  </div>
</div>
