<div class="omega-box-container">
  <div class="container">
    <div class="row visible-desktop">
      <div class="omega-box-wrapper">
        <div class="video-wrapper">
          <video id="base-ring-glow" width="100%"  preload="metadata" muted autoplay loop playsinline>
            <source src="media/box_lightRing_small.mp4" type="video/mp4">
          </video>
          <div class="video-sprite-sheet"></div>
          <video preload="metadata" width="100%" playsinline muted id="box-rotate">
            <source src="media/box_rotate_small.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    <div class="row visible-mobile">
      <img src="/images/index/omega-box-mobile.png" class="w-100" />
    </div>
    <div class="row">
      <div class="box-copy">
        <h3>Box Headline</h3>
        <p>Nam finibus consequat mauris a euismod. Fusce consectetur augue quis urna vehicula interdum. Integer varius euismod congue. Pellentesque tempus, tortor quis pulvinar mollis, ex sapien tincidunt dolor, sit amet dignissim purus ligula ac sem.</p>
      </div>
    </div>
  </div>
</div>


<!-- TODO: move to some other part
<div class="text">
  <h1 class="omega">
    Omega,
  </h1>
  <h2 class="text-muted">
    <div class="whats-the">What's the</div>
    <div class="text-fill"></div>
  </h2>
</div>

-->
