<div class="omega-box-container">
  <div class="container">
    <div class="row">
      <div class="omega-box-wrapper">
        <div class="video-wrapper">
          <video preload="metadata" playsinline muted id="adele-vid">
            <source src="media/box-top-rotation.mp4" type="video/mp4">
          </video>
        </div>
        <div class="text">
          <h1>
            Omega,
          </h1>
          <h2 class="text-muted">
            <span class="whats-the">What's the</span>
            <span class="target"></span>
            <span class="last-item">weather?</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
