<div class="omega-box-container">
  <div class="container">
    <div class="row visible-desktop">
      <div class="omega-box-wrapper">
        <div class="video-wrapper">
          <video id="base-ring-glow" width="100%"  preload="metadata" muted autoplay loop playsinline>
            <source src="media/box_lightRing_small.mp4" type="video/mp4">
          </video>
          <div class="video-sprite-sheet"></div>
          <video preload="metadata" width="100%" playsinline muted id="box-rotate">
            <source src="media/box_rotate_small.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
    <div class="row visible-mobile">
      <img src="/images/index/omega-box-mobile.png" class="w-100" />
    </div>
    <div class="row">
      <div class="section--title-subtitle box-copy">
        <h3>
          <img src="/images/index/omega-logo-black.png" width="75%" />
        </h3>
        <p>
          Super duper dope, oooh.
        </p>
      </div>
    </div>
  </div>
</div>
