<div class="omega-app-songs-container">
  <div class="container">
    <div class="row">
      <div class="col omega-app-songs-wrapper">
        <div class="app-songs-animation-container">
          <div class="video-container">
            <video preload="metadata" width="100%"  playsinline muted id="box-rotate">
              <source src="media/adele-play.mp4" type="video/mp4">
            </video>
            <img src="images/index/omega-app-iphone-adele.png" />
          </div>
        </div>
        <div class="section--title-subtitle">
          <h3>
            Millions of songs
          </h3>
          <p class="text-muted">
            I have the latest, currated
            <br />
            just for you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
