<div class="omega-help-container">
  <div class="container">
    <div class="row">
      <div class="col omega-help-wrapper">
        <div class="help-animation-container">
          <div>
            <img class="first" src="images/index/omega-comingup.jpg" />
          </div>
          <div >
            <img class="middle" src="images/index/weather.jpg" />
          </div>
          <div>
            <img class="last" src="images/index/song-bep.jpg" />
          </div>
        </div>
        <div class="omega-help--title-subtitle section--title-subtitle">
          <h3 class="omega-help-title">
            Omega is here to help
          </h3>
          <p class="omega-help-subtitle text-muted">
            Ready to respond, on demand
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
