<div class="omega-hey-container">
  <div class="container">
    <div class="row py-5">
      <div class="col text-center">
        <h1>
          Hey Omega
        </h1>
        <h2>
          What's the best Sushi in LA?
        </h2>
      </div>
    </div>
    <div class="row py-5">
      <div class="col">
        <div class="pb-5">
          <h2>
            Latest News
          </h2>
          <h4>
            I will keep you up-to-date with the headlines.
          </h4>
        </div>
        <div class="pt-5">
          <h2>
            Latest News
          </h2>
          <h4>
            I will keep you up-to-date with the headlines.
          </h4>
        </div>
      </div>
      <div class="col-3 py-5">
        <img src="/images/index/omega-hey.png" class="py-5" />
      </div>
      <div class="col">
        <div class="pb-5 pl-5">
          <h2>
            Latest News
          </h2>
          <h4>
            I will keep you up-to-date with the headlines.
          </h4>
        </div>
        <div class="pt-5 pl-5">
          <h2>
            Latest News
          </h2>
          <h4>
            I will keep you up-to-date with the headlines.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
