<div class="omega-email-drip-container">
  <div class="container">
    <div class="row">
      <div class="col omega-email-drip-wrapper">
        <div class="section--title-subtitle">
          <h3>
            Get the latest on Omega
          </h3>
          <form id="omega-email-drip">
            <input type="text" placeholder="Email" />
            <br />
            <button type="submit">
              Get Notified
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
