<div class="omega-usps-container">
  <div class="container">

    <div class="row py-5 omega-usps-wrapper">
      <div class="col text">
        <h2>
          What's my day looking like?
        </h2>
        <h5 class="text-muted pt-2">
          Omega can read the latest messages.
        </h5>
      </div>
      <div class="col">
        <img src="/images/index/feature-1.jpg" class="w-100"/>
      </div>
    </div>

    <div class="row py-5 omega-usps-wrapper">
      <div class="col text">
        <h2>
          Confirm meetings
        </h2>
        <h5 class="text-muted pt-2">
          Omega can add meetings to your calendar and schedule calls to never miss the latest.
        </h5>
      </div>
      <div class="col">
        <img src="/images/index/feature-2.jpg" class="w-100"/>
      </div>
    </div>

    <div class="row py-5 omega-usps-wrapper">
      <div class="col text">
        <h2>
          Order food on the fly
        </h2>
        <h5 class="text-muted pt-2">
          Omega can find your favorite Sushi restaurant
        </h5>
      </div>
      <div class="col">
        <img src="/images/index/feature-3.png" class="w-100"/>
      </div>
    </div>

    <div class="row py-5 omega-usps-wrapper">
      <div class="col text">
        <h2>
          Confirm meetings
        </h2>
        <h5 class="text-muted pt-2">
          Omega can add meetings to your calendar and schedule calls to never miss the latest.
        </h5>
      </div>
      <div class="col">
        <img src="/images/index/feature-2.jpg" class="w-100"/>
      </div>
    </div>

  </div>
</div>
