<div class="omega-hey-container">
  <div class="container">
    <div class="row py-5">
      <div class="col text-center">
        <div class="hey-text">
          <h1>
            Hey Omega
          </h1>
          <h2>
            What's the best Sushi in LA?
          </h2>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col">
        <div class="pb-5">
          <div class="hey-text">
            <h2>
              Latest News
            </h2>
            <h4>
              I will keep you up-to-date with the headlines.
            </h4>
          </div>
        </div>
        <div class="pt-5">
          <div class="hey-text">
            <h2>
              Latest News
            </h2>
            <h4>
              I will keep you up-to-date with the headlines.
            </h4>
          </div>
        </div>
      </div>
      <div class="col-3 py-5">
          <svg style="transform: translateX(50px) scale(2);"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
	            <g>
		              <ellipse class="outer-circle" stroke-opacity=".8" ry="83.5"
                           │ rx="83.5" cy="100" cx="100" stroke-width="15" stroke="#fff" fill="none"/>
		              <ellipse class="inner-circle" stroke="#fff" ry="71.5" rx="71.5" cy="100" cx="100" stroke-width="10"
                           │ fill="none"/>
	            </g>
          </svg>
          <!-- <img src="/images/index/omega-hey.png" class="py-5" /> -->
      </div>
      <div class="col">
        <div class="pb-5 pl-5">
          <div class="hey-text">
            <h2>
              Latest News
            </h2>
            <h4>
              I will keep you up-to-date with the headlines.
            </h4>
          </div>
        </div>
        <div class="pt-5 pl-5">
          <div class="hey-text">
            <h2>
              Latest News
            </h2>
            <h4>
              I will keep you up-to-date with the headlines.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
