<div class="omega-box-2">

  <div class="row py-5 omega-usps-wrapper">
    <div class="col text">
      <h2>
        <img src="/images/index/omega-box-logo-black.jpg" width="100" />
      </h2>
      <h2 class="pt-2">
        In phat.
        <br />
        Curabitizzle elementizzle
      </h2>
    </div>
    <div class="col">
      <img src="/images/index/omega-box-black-left.jpg" class="w-100"/>
    </div>
  </div>

</div>
