<div class="omega-hey--wrapper">
  <div class="container omega-hey-container">
    <div class="row">
      <div class="text-animation col text-center">
        <h1><span>Hey</span> <span>Omega</span></h1>
        <h2><span class="whats-the-text">What's the </span><span class="text-fill"></span></h2>
      </div>
    </div>

    <div class="row">
      <div class="column col-sm-12 col-md-12 col-lg-3 one">
        <div class="omega-hey--text opacity-0 pb-5">
          <h2>Latest News</h2>
          <h4>I will keep you up-to-date with the headlines.</h4>
        </div>
        <div class="omega-hey--text opacity-0 pt-5">
          <h2>Latest News</h2>
          <h4>I will keep you up-to-date with the headlines.</h4>
        </div>
      </div>

      <div class="column col-sm-12 col-md-12 col-lg-6 two">
        <div style="width: 50%; margin: 0 auto;">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 200 200"
            preserveAspectRatio="xMidYMin"
          >
            <g>
              <ellipse class="outer-circle" stroke-opacity=".8" ry="83.5" rx="83.5" cy="100" cx="100" stroke-width="15" stroke="#fff" fill="none" />
              <ellipse class="inner-circle" stroke="#fff" ry="71.5" rx="71.5" cy="100" cx="100" stroke-width="10" fill="none" />
            </g>
          </svg>
        </div>
        <!-- <img src="/images/index/omega-hey.png" class="py-5" /> -->
      </div>

      <div class="column col-sm-12 col-md-12 col-lg-3 three">
        <div class="omega-hey--text opacity-0 pb-5">
          <h2>Latest News</h2>
          <h4>I will keep you up-to-date with the headlines.</h4>
        </div>

        <div class="omega-hey--text opacity-0 pt-5">
          <h2>Latest News</h2>
          <h4>I will keep you up-to-date with the headlines.</h4>
        </div>
      </div>
    </div>

  </div>
</div>
