<div class="omega-box-container">
  <div class="container">
    <div class="row">
      <div class="omega-box-wrapper">
        <div class="video-wrapper">
          <video preload="metadata" autoplay playsinline muted id="adele-vid">
            <source src="media/box-top-rotation-no-sound.mp4" type="video/mp4">
          </video>
          <div class="video-sprite-sheet"></div>
        </div>
        <div class="text">
          <h1 class="omega">
            Omega,
          </h1>
          <h2 class="text-muted">
            <div class="whats-the">What's the</div>
            <div class="text-fill"></div>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
