<div class="omega-app-songs-container">
  <div class="container">
    <div class="row">
      <div class="col omega-app-songs-wrapper">
        <div class="app-songs-animation-container">
          <div>
            <img src="images/index/omega-app-iphone-adele.png" />
          </div>
        </div>
        <div class="section--title-subtitle app-songs">
          <h3>
            Omega is here to help
          </h3>
          <p class="text-muted">
            Ready to respond, on demand
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
