<div class="omega-couch-container">
  <div class="row py-5 omega-couch-wrapper omega-bubble-wrapper">
    <div class="col img">
      <img src="/images/index/feature-full.png" class="w-100"/>

      <div class="omega-bubble one">
        <div class="content">
          <img src="/images/index/omega-bubble--logo.jpg" />
          <div class="text">
            Omega, add my meeting with Kyle for 12pm
          </div>
        </div>
      </div>

      <div class="omega-bubble two">
        <div class="content">
          <img src="/images/index/omega-bubble--logo.jpg" />
          <div class="text">
            Omega, add my meeting with Kyle for 12pm
          </div>
        </div>
      </div>

      <div class="omega-bubble three">
        <div class="content">
          <img src="/images/index/omega-bubble--logo.jpg" />
          <div class="text">
            Omega, add my meeting with Kyle for 12pm
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
